
.container{

    background-color: lightgray;
  /*  background-image: url("flag.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    z-index: -10px; */
}

body{
    background-image: url("../imgs/bckgrnd.jpg");
}